In [3]:
lst = range(1,20)
a = [i*i for i in lst]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [7]:
a = [int(input("enter any integer")),int(input("enter any integer"))]
maxVar = lambda a : a[0] if a[0] > a[1] else a[1]
print(maxVar(a))

enter any integer12
enter any integer34
34

In [18]:
setA={1,2,3,4,5,6,7,8,9}
setB={0,10,11,12,13,14,1,2,3,4}
setA.update(setB)
print(setA)
print(setB)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

In [19]:
setA.intersection_update(setB)
setA

{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

In [20]:
setB.intersection_update(setA)
setB

{0, 1, 2, 3, 4, 10, 11, 12, 13, 14}

In [26]:
setA={1,2,3,4,5,6}
setB={0,1,2,8,9,10}
setA.difference_update(setB)
setA

{3, 4, 5, 6}

In [27]:
setA={1,2,3,4,5,6}
setB={0,1,2,8,9,10}
setB.difference_update(setA)
setB

{0, 8, 9, 10}

# Formatting styles

In [28]:
a="the float value is {0:.3f}".format(2.13456789)
a

'the float value is 2.135'

In [31]:
a="the float value is {0:.1f}".format(2.13456789)
a

'the float value is 2.1'

In [33]:
a="the float value is {0:.2f}".format(2.13456789)
a

'the float value is 2.13'

In [37]:
a="the float value is {0:.4f}".format(2.13456789)
a

'the float value is 2.1346'

In [47]:
a="the float value is {0:e}".format(2.13456789)
a

'the float value is 2.134568e+00'

In [49]:
a="the float value is {0:b}".format(2)
a

'the float value is 10'

In [54]:
a="the float value is {0:b} {1:b} {2:b}".format(20,30,90)
a

'the float value is 10100 11110 1011010'

In [55]:
"my name is %s and his name is %s"%("aamir","abdullah")

'my name is aamir and his name is abdullah'

In [56]:
"his age is %d and my age is %d"%(21,22)

'his age is 21 and my age is 22'

In [61]:
"he is {0:.1f} inches tall and i am {1:.3f} inches tall".format(127.5,123.768)

'he is 127.5 inches tall and i am 123.768 inches tall'

In [62]:
"he is %f inches tall and i am %f inches tall"%(127.5,123.768)

'he is 127.500000 inches tall and i am 123.768000 inches tall'

In [63]:
"he is %.1f inches tall and i am %.3f inches tall"%(127.5,123.768)

'he is 127.5 inches tall and i am 123.768 inches tall'

In [237]:
from collections import Counter
strr=tuple("aaaaaaaaaammmmmmmmmmmddddddnnnnnnnssssssiiiiiiiwwudjssssssssssssnxhsssssssssss")
count = Counter(strr)
count

Counter({'a': 10,
         'm': 11,
         'd': 7,
         'n': 8,
         's': 29,
         'i': 7,
         'w': 2,
         'u': 1,
         'j': 1,
         'x': 1,
         'h': 1})

In [71]:
count.keys()

dict_keys(['a', 'm', 'd', 'n', 's', 'i', 'w', 'u', 'j', 'x', 'h'])

In [72]:
count.values()

dict_values([10, 11, 7, 8, 29, 7, 2, 1, 1, 1, 1])

In [77]:
a=count.items()
a=list(a)
a

[('a', 10),
 ('m', 11),
 ('d', 7),
 ('n', 8),
 ('s', 29),
 ('i', 7),
 ('w', 2),
 ('u', 1),
 ('j', 1),
 ('x', 1),
 ('h', 1)]

In [86]:
for i in a:
    print("key is: {} and value is: {}".format(*i))

key is: a and value is: 10
key is: m and value is: 11
key is: d and value is: 7
key is: n and value is: 8
key is: s and value is: 29
key is: i and value is: 7
key is: w and value is: 2
key is: u and value is: 1
key is: j and value is: 1
key is: x and value is: 1
key is: h and value is: 1

In [95]:
def func1(name,fname,age,course,timing):
    return "name: {}\
    father\'s name: {}\
    age: {}\
    course: {}\
    timing: {}".format(name,fname,age,course,timing)
d1={
    "name":"aamir jan khan",
    "fname":"muhammad khalid raheel khan",
    "age":21,
    "course":"A.i",
    "timing":"9 to 12"
}
print(func1(**d1))

name: aamir jan khan    father's name: muhammad khalid raheel khan    age: 21    course: A.i    timing: 9 to 12

In [112]:
from collections import namedtuple
Person=namedtuple("Person","name, age")
feild=Person(name="aamir jan khan",age=21)
print(feild)
print(Person)
print(feild.name,feild.age)

Person(name='aamir jan khan', age=21)
<class '__main__.Person'>
aamir jan khan 21

In [115]:
Person=namedtuple("Person","Name, FathersName, Course, Timing")
for i in range(5):
    feild=Person(Name=input("enter name: "),FathersName=input("enter fathers name: "),Course=input("enter course: "),Timing=input("enter timing: "))
    print(feild)

enter name: aamir
enter fathers name: khalid
enter course: ai
enter timing: 9-12
Person(Name='aamir', FathersName='khalid', Course='ai', Timing='9-12')
enter name: abdullah
enter fathers name: khalid
enter course: ai
enter timing: 9-12
Person(Name='abdullah', FathersName='khalid', Course='ai', Timing='9-12')
enter name: a
enter fathers name: a
enter course: a
enter timing: a
Person(Name='a', FathersName='a', Course='a', Timing='a')
enter name: a
enter fathers name: a
enter course: a
enter timing: a
Person(Name='a', FathersName='a', Course='a', Timing='a')
enter name: a
enter fathers name: a
enter course: a
enter timing: a
Person(Name='a', FathersName='a', Course='a', Timing='a')

In [151]:
from collections import OrderedDict
a = OrderedDict()
a["A"]=1
a["B"]=2
a["C"]=3
a["D"]=4
a["E"]=5
a["F"]=6
a

OrderedDict([('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5), ('F', 6)])

# Lambda Function

In [160]:
points_2d = [(12,-3,1),(1,0,5),(5,6,2),(2,4,-10),(-1,54,0)]
sort = sorted(points_2d, key=lambda x: x[2])
sort

[(2, 4, -10), (-1, 54, 0), (12, -3, 1), (5, 6, 2), (1, 0, 5)]

In [163]:
points_2d = [(12,-3,1),(1,0,5),(5,6,2),(2,4,-10),(-1,54,0)]
sort = sorted(points_2d, key=lambda x:x[0])
sort

[(-1, 54, 0), (1, 0, 5), (2, 4, -10), (5, 6, 2), (12, -3, 1)]

In [165]:
points_2d = [(12,-3,1),(1,0,5),(5,6,2),(2,4,-10),(-1,54,0)]
sort = sorted(points_2d, key=lambda x: x[1])
sort

[(12, -3, 1), (1, 0, 5), (2, 4, -10), (5, 6, 2), (-1, 54, 0)]

In [166]:
a = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: x*x, a))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [167]:
[x*x for x in a]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [169]:
list(filter(lambda x: x%2==0, a))

[2, 4, 6, 8]

In [171]:
[x for x in a if x%2==0]

[2, 4, 6, 8]

In [173]:
from functools import reduce
reduce(lambda x,y: x*y, a)

362880

In [197]:
a = [1,2,3,4,5,6,7,8,9]
reduce(lambda x,y: (x*y), a)

362880

In [205]:
assert (open("ali.txt","r")), 'file not found'

FileNotFoundError: [Errno 2] No such file or directory: 'ali.txt'

In [206]:
assert (open("aamir.txt","r")) , 'file not found...'

In [210]:
frr = open("ali.txt","r")
if frr.readable:
    raise Exception('file not found')

FileNotFoundError: [Errno 2] No such file or directory: 'ali.txt'

In [222]:
try:
    open("ali.txt","r")
except Exception as e:
    print(e)
try:
    5/0
except ZeroDivisionError as e:
    print(e)

[Errno 2] No such file or directory: 'ali.txt'
division by zero

In [223]:
try:
    5+'A'
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

In [225]:
try:
    print(5/2)
except Exception as e:
    print(e)
else:
    print(":-)")

2.5
:-)

In [231]:
try:
    "A"+3
    5/0
    2.0+2.0+'A'
except TypeError as e:
    print(e)
except ZeroDivisionError as e:
    print(e)
else:
    print(":-)")
finally:
    print("so here we are...")

can only concatenate str (not "int") to str
so here we are...

In [233]:
try:
    5/0
    2.0+2.0+'A'
except TypeError as e:
    print(e)
except ZeroDivisionError as e:
    print(e)
else:
    print(":-)")
finally:
    print("so here we are...")

division by zero
so here we are...